footer.w-100.text-center
	.container
		.row
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				img.img-responsive(src="assets/images/w-logo.jpg", alt="logo-studio-w")
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				p Copyright &copy 2016. Willy Lab Limited
				p Designed and developed by
					span &nbsWilylab
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				include links-redes-sociales