header.header_area
	nav.navbar.navbar-fixed-top.nav-studio-w
		.container
			.navbar-header
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
					span.sr-only Toggle Navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#")
					img(src="assets/images/w-logo.jpg", alt="logo Studio W")
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li: a(href="#services") Home
					li: a(href="#portfolio") Services
					li: a(href="#about") About
					li: a(href="#team") Portfolio
					li: a(href="#contact") Team
					li: a(href="#about") Testimonial
					li: a(href="#team") Pricing
					li: a(href="#contact") Contact