ul.redes
	li
		a(href="https://facebook.com/")
			i.fa.fa-facebook
	li
		a(href="https://twitter.com/")
			i.fa.fa-twitter
	li
		a(href="https://google-plus.com/")
			i.fa.fa-google-plus
	li
		a(href="https://pinterest.com/")
			i.fa.fa-pinterest
	li
		a(href="https://linkedin.com/")
			i.fa.fa-linkedin